body{
    background-color: rgba(219, 101, 17, 0.8);
    /*color: white;*/
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.checked {
    color: rgba(219, 101, 17, 0.8);
}

[contenteditable]:empty:before {
    content: attr(placeholder);
    color: lightgrey;
    text-decoration: underline;
}

.hide {
    display: none;
}

.card-img-top {
    object-fit: cover;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 0;
    right: 0;
    color:white;
    background: rgba(219, 101, 17, 0.8);
    padding: 0.3rem;
}